.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.bodk-nav ul{
    margin: 0 1em;
    font-size: 1.5em;
}

.bodk-nav li{
    display: inline-block;
    background: none;
    padding: 0.5em 1em;
    font-size: 1em;
    text-align: center;
}

.bodk-nav li:hover a{
    color: white;
    background: var(--prime-color,#e81230);
}

.bodk-nav a{
    text-decoration: none;
    color: var(--prime-color,#e81230);
    vertical-align: middle;
}