.donation-header-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2em;
    background: white;

    .icon-nav{
       color: var(--donation-background-color,rgb(255, 191, 191));
       border: 1px solid var(--donation-background-color,rgb(255, 191, 191));
    }

    .icon{
        color: var(--donation-background-color,rgb(255, 191, 191));
        border: 1px solid var(--donation-background-color,rgb(255, 191, 191));
     }

     .pennant{
        border: 1px solid var(--donation-background-color,rgb(255, 191, 191));
     }

     @media screen and (max-width:600px){
         display: block;
     }

}

.donation-title{
    font-style: italic;
    text-align: center;
}

.donation-nav{
    display: block;
    background: var(--donation-background-color,rgb(255, 191, 191));
    text-align: center;
    margin-top: -1em;
    ul li{
        list-style: none inside;
        padding: 1em;
        font-size: 1.2em;
        
        &:hover{
            border-bottom: 1.5px solid  var(--donation-prime-color,#BF5083);
            transform: scale(1.05);
        }

        @media screen and (max-width:700px) {
            display: block;
            text-align: left;
        }
    }

    a{
        text-transform: uppercase;
        font-style: italic;
        color:black;
        text-decoration: none;

       
    }
}

.back-to-top{
    font-size: 2em;
    display: inline;
    position: fixed;
    bottom: 2vh;
    right: 2vw;
}