.cover-footer{
    background-image: url('/images/FON.svg');
    background-position: unset;
    background-repeat: no-repeat;
    z-index: -100;
    border-top: 3px solid var(--prime-color,#e81230);    
    padding: 1em;    
    text-align: center;
    width: 100%;
}

footer{
    width: 100%;
}