body{
    padding: 1em;
    margin: 1em;
}

.header-top{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-bottom: 3px solid var(--prime-color,#e81230);
    padding: 1em; 
}

header ul{
    list-style: none inside;
    padding: 0;
}

header ul li{
    display: inline-block;
}

.home-text{
    margin: 0 auto;
}

.home-text img{
    width: 100%;
    background: var(--prime-color,#e81230);
    padding: 1em;
}


