.cover{
    background-image: url('/images/FON.svg');
    background-position:center center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -100;
    border-bottom: 3px solid var(--prime-color,#e81230);    
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1em 4em; 
    width: 100%;
}

header ul{
    list-style: none inside;
    padding: 0;
}

header ul li{
    display: inline-block;
    margin: 0.1em;
}

.home-text{
    margin: 0 0.1em;
    text-align: center;
}

.home-text img{
    width: 100%;
    background: var(--prime-color,#e81230);
    padding: 1em;
}

.social-net{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;

}

.phone{
    color: var(--prime-color,#e81230);
    font-size: 1.2em;
    padding: 0.2em;
}




