body {
	background: white;  
}

.tabs{
  height: 40em;
  width: 60em;
  clear:both;
  position: relative;
  text-align:center;
  display:flex;
  justify-content:center;
  margin: 0 auto;
}
.tab{
  float:left;
}

.tab p{
    margin: 1em 0;
    padding: 1em;
    width: 100%;
  }

.tab label{
  position: relative;
  background:white;
  color: var(--prime-color,#e81230);
  padding: 1em;
  font-size: 2em;
  display: flex;
}

.tab [type=radio]{
  display:none;
}

#aboutUs {
  background: white;

}

#home_text{
  background:var(--prime-color,#e81230);
  padding: 2em;
  margin: 5em auto;
}

.startPage-img{
    width:50%;
}
.content{
  position: absolute;
  top: 8em;
  left:0;
  right:0;
  bottom:0;
  background:white;
  margin:0 auto;
  padding:2em;
}

[type=radio]:checked ~ label{
  z-index:2;
}
[type=radio]:checked ~ label ~ .content{
  z-index:1;
}
