#aboutUs {
  background: white;

}

#home_text{
  background:var(--prime-color,#e81230);
  width: 100%;
  padding: 2em;
  margin: 5em auto;
}

#recipient img{
  width: 50%;

  @media screen and (min-width:701px){
    width: 25%;
  }

}

.keywords{
  color: var(--prime-color,#e81230);
  font-style: italic;
}



