html{
    font: var(--font-size-initial,16px)/1.35 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}


h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
	padding-bottom: 0.5em;
}

$headings: (h1: 2.441em, h2: 1.953em, h3: 1.563em, h5: 1em, h6: 1em);

@each $heading, $size in $headings {
	#{$heading} { font-size: $size; }
}

h5, h6 { font-weight: bold; }

p, ul, ol {
	padding-bottom: 1.5em;
}

ul, ol {
	padding-left: 2em;
}

li {
	list-style-position: inside;
}

a{
    text-decoration: none;
}

input, textarea, select, button, option {
    font: var(--font-size-initial,16px)/1.35 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



