:root{
    --font-size-initial: 16px;
    --font-size-lv2: 14px;
	--font-size-lv3: 16px;
    --font-size-lv4: 18px;
    
    --spacing-site: 2rem;

    --prime-color:#e81230;
    --donation-prime-color:#BF5083;
    --startPage-background-color:#FFF6F3;
    --donation-background-color:rgb(255, 191, 191);
}