#header-navigation{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.logo-header{
    background: url('../images/BODK-logo-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main-nav{
    color: blue;
}

