---
title: BODK
layout: site
---
<div class="wrapper">
    <div class="main">
        <div class="inner">
            {% include header.html %}
            <section id="banner">
                {% include banner.html %}
            </section>
            <section>
                {% include features.html %}
            </section>
            <section>
                {% include preview.html %}
            </section>
        </div>
    </div>
    
    <div id="sidebar">
        {% include sidebar.html %}
    </div>
    
</div>