<section class="contactForm">
    <h3>Бърза връзка с нас</h3>
    <h4>Свържете се с нас и ще Ви отговорим възможно най-бързо!</h4>

    <form id="contact-form">
        <fieldset>
            <label for="name">Име</label>
            <input type="text" id="name" name="name" placeholder="Вашето име..">
        </fieldset>

        <fieldset>
            <label for="email">И-майл</label>
            <input type="email" id="email" name="email" placeholder="Вашият й-майл..">
        </fieldset>

        <fieldset>
            <label for="phone">Телефонен номер</label>
            <input type="text" id="phone" name="phone" placeholder="Вашият телефонен номер..">
        </fieldset>

        <fieldset>
            <label for="thema">Тема</label>
            <select id="thema" name="thema">
                <option value="needHelp">Избери тема</option>
                <option value="needHelp">Имам нужда от помощ</option>
                <option value="wantToHelp">Искам да помогна</option>
                <option value="more">Друго</option>
            </select>
        </fieldset>

        <fieldset>
            <label for="subject">Съобщение</label>
            <textarea id="subject" name="subject" placeholder="Вашето съобщение.." style="height:200px"></textarea>
        </fieldset>

        <fieldset>
            <input type="submit" value="Изпрати">
        </fieldset>

    </form>

</section>