<div class="donation-header">
    <div class="donation-header-top">

        <div class="site-nav">
            <ul>
                <li class="pennant"><a href="{{ site.baseurl }}/"><i class="icon-nav fas fa-home"></i></a></li>
                <li class="pennant"><a href="{{ site.baseurl }}/donation/"><i class="icon-nav fas fa-heart"></i></a></li>
                <li class="pennant"><a href="{{ site.baseurl }}/contact/"><i class="icon-nav fas fa-hands-helping"></i></a></li>
            </ul>
        </div>

        <div class="donation-title">
            <h2>Кръводаряване</h2>
            <span>Най-хуманният жест!</span>
        </div>

        <div class="social-net">
                <ul>
                    <li class="pennant">
                        <a href="https://www.facebook.com/#!/pages/BODK-BOVBD/140842409308523?v=wall"><span class="icon fab fa-facebook-f"></span></a>
                    </li>
                    <li class="pennant">
                        <a href=""> <span class="icon fab fa-youtube"></span></a>
                    </li>
                    <li class="pennant">
                        <a href="mailto:blood.donation.bg@gmail.com"> <span class="icon fas fa-envelope"> </span></a>
                    </li>
                </ul>
        
            </div>

    </div>

    <div class="donation-nav">
        <ul>
            <li><a href="#need">Защо?</a></li>
            <li><a href="#process">Процес</a></li>
            <li><a href="#who">Предпоставки</a></li>
            <li><a href="#contra">Противопоказания</a></li>
            <li><a href="#where">Къде?</a></li>
            <li><a href="#fun">Истории</a></li>
        </ul>
    </div>


</div>