<div class="donation-header">
    <div class="donation-header-top">

        <div class="donation-logo">
              <img src="{{ site.baseurl }}/images/BODK-logo-2.png" alt="BOKD Logo">
        </div>
        
        <div class="donation-title">
            <h2>Кръводаряване</h2>
            <span>Най-хуманният жест!</span>
        </div>

    </div>

    <div class="donation-nav">
        <ul>
            <li><a href="#need">Защо?</a></li>
            <li><a href="#process">Процес</a></li>
            <li><a href="#who">Предпоставки</a></li>
            <li><a href="#contra">Противопоказания</a></li>
            <li><a href="#where">Къде?</a></li>
            <li><a href="#fun">Истории</a></li>
        </ul>
    </div>


</div>