<footer>
    <section class="footer-main">

        <div class="footer-section-information">
            <h3>ДАРИ за БОДК</h3>
            <p>Вашето дарение ще подпомогне развитието на дейността на сдружението за популяризиране и насърчаване
                на доброволното кръводаряване в България. За него Вие имате право на данъчни облекчения.</p>
            <div class="btn-give">ДАРИ СЕГА И ПОМОГНИ!</div>
        </div>
        <div class="footer-section-information">
            <h3>БОДК</h3>
            <article>
                <div class="btn-likeUs">Харесва ми </div>
                <div class="btn-share">Сподели</div>
            </article>

            <ul>
                <li><a href="">Каква е нашата цел?</a></li>
                <li><a href="">Защо да ни подкрепиш?</a></li>
                <li><a href="">Стани доброволен кръводарител</a></li>
                <li><a href="">Стани доброволец</a></li>
                <li><a href="">Стани член</a></li>
                <li><a href="">Стани партньор</a></li>
                <li><a href="">Стани домакин на акция</a></li>
            </ul>

            <ul>
                <li><a href="">БОДК в медиите </a></li>
                <li><a href="">Акции</a></li>
            </ul>

            <form action="">
                <label for="email">Запиши се за нашия БЮЛЕТИН</label>
                <input type="email" placeholder="E-mail">
            </form>

        </div>

        <div class="footer-section-information">
            <h3>КРЪВОДАРЯВАНЕ</h3>
            <ul>
                <li><a href="">Защо кръводаряването е необходимо?</a></li>
                <li><a href="">Кой може да дарява кръв?</a></li>
                <li><a href="">Какъв е процесът на кръводаряване?</a></li>
                <li><a href="">Къде можеш да дариш кръв?</a></li>
                <li><a href="">Често задавани въпроси</a></li>
            </ul>
        </div>

        <div class="footer-section-information">
            <h3>Система ДАРИ КРЪВ</h3>
            <ul>
                <li><a href="">Същност </a></li>
                <li><a href="">Регистрация на доброволен кръводарител</a></li>
                <li><a href="">Регистрация на нуждаещ се от кръв</a></li>
            </ul>

            <a href="/dari/"><img id="give-blood-project" src="/images/darikruv_project.png" alt="Give blood project"></a>
        </div>

    </section>

    <div class="footer-logo">
        <img src="/images/BODK-logo-2.png" alt="BODK Logo">
        <p>Използването на материали от Страницата е разрешено, само когато източникът им е коректно посочен.</p>
    </div>


    
</footer>