<div class="cover">

    <div class="site-nav">
        <ul>
            <li class="pennant"><a href="{{ base.url }}/"><i class="icon-nav fas fa-home"></i></a></li>
            <li class="pennant"><a href="{{ base.url }}/donation/"><i class="icon-nav fas fa-heart"></i></a></li>
            <li class="pennant"><a href="{{ base.url }}/contact/"><i class="icon-nav fas fa-hands-helping"></i></a></li>
        </ul>
    </div>

    <div class="home-text">
        <img src="{{ base.url }}/images/home_text.png" alt="">
        <p class="phone fas fa-mobile-alt"> 0888 942 357</p>
    </div>

    <div class="social-net">
        <ul>
            <li class="pennant">
                <a href="https://www.facebook.com/#!/pages/BODK-BOVBD/140842409308523?v=wall"><span class="icon fab fa-facebook-f"></span></a>
            </li>
            <li class="pennant">
                <a href=""> <span class="icon fab fa-youtube"></span></a>
            </li>
            <li class="pennant">
                <a href="mailto:blood.donation.bg@gmail.com"> <span class="icon fas fa-envelope"> </span></a>
            </li>
        </ul>

    </div>
</div>