<section id="header-navigation" >
    <nav id="main-nav">
        <ul>
        <li><a href="http://">News</a></li>
        <li>About us</li>
        <li>BloodDonation</li>
        <li>How to help</li>
        <li>Partners</li>
        <li>Contacts</li>
    </ul>
    </nav>

    <div class="logo-header">
        <a href="/index.html"></a>
    </div>
    
    <div id="social-media-btn">
        <div class="btn-social">
            <a href="http://">Facebook</a>
        </div>
        <div class="btn-social">Instagram</div>
        <div class="btn-social">Have no idea</div>
    </div>
</section>