<header>
    <div class="header-top">
        <div class="social-net">
            <ul>
                <li>
                    <span class="pennant">
                        <span class="icon fab fa-facebook-f">
                            <a href=""></a>
                        </span>
                    </span>
                </li>
                <li>
                    <span class="pennant">
                        <span class="icon fab fa-google-plus-g">
                            <a href=""></a>
                        </span>
                    </span>
                </li>
                <li>
                    <span class="pennant">
                        <span class="icon fab fa-youtube">
                            <a href=""></a>
                        </span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="home-text">
            <img src="images/home_text.png" alt="">
        </div>
    </div>

    <div class="main-nav">
        <div class="logo">
            <img src="images/BODK-logo-2.png" alt="BODK Logo">
        </div>
        <ul>
            <li><a href="">Кръводаряване</a></li>
            <li><a href="">За нас</a></li>
            <li><a href="">Новини</a></li>
            <li><a href="">Полезна информация </a></li>
            <li><a href="">Подкрепете ни</a></li>
            <li><a href="">Контакти</a></li>
        </ul>
    </div>

</header>