<div id="page-wrap">
    <div class="tabs">

        <div class="tab">
            <input type="radio" id="tab-1" name="radio-group" checked>
            <label for="tab-1"><i class="icon fas fa-home"></i></label>
            <div class="content">
                <article id="aboutUs">
                    <img src="/images/home_text.png"
                        alt="Българска организация за доброволно кръводаряване" class="startPage-img">
                    <h2> About Us</h2>
                    <p>You are the best volentary organisation </p>

                </article>

            </div>
        </div>


        <div class="tab">
            <input type="radio" id="tab-1" name="radio-group">
            <label for="tab-1"><i class="icon fas fa-sitemap"></i></label>
            <div class="content">
                <article id="aboutUs">
                    <img src="/images/160x600-bg.jpg"
                        alt="BODK banner" class="startPage-img">
                    <h2> За нас</h2>
                    <p>Ние сме сдружение с нестопанска цел с дейност в обществена полза, със седалище гр. София, учредено на 20.10.2010 година. Сдружението е с основна задача да насърчава и популяризира редовното, анонимно, доброволно и необвързано с облаги кръводаряване на територията на Република България, Европа и в световен мащаб. </p>
                    <input type="button" value=""><a href="/about.html">Научете повече за нас </a>

                </article>

            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-2" name="radio-group">
            <label for="tab-2"><i class="icon fas fa-heart"></i></label>
            <div class="content">
                <article id="donor">
                    <img src="/images/logo.png"
                        alt="logo" class="startPage-img">
                    <h2> За кръводарителите</h2>
                    <p>Kръводаряването е сред най-високо хуманните постъпки, които не могат и не би трябвало да бъдат оценявани в пари! </p>
                    <p>Всеки ден поради катастрофи, операции, раждания и множество заболявания, повече от 500 човека в България имат животоспасяваща нужда от кръв и кръвни продукти, които се набавят САМО и ЕДИНСТВЕНО чрез КРЪВОДАРЯВАНЕ! </p>
                    <input type="button" value=""><a href="/donation.html">Научете повече за кръводаряването </a>

                </article>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="test3" name="radio-group" class="hidden">
            <label for="test3"><i class="icon fas fa-hands-helping"></i></label>
            <div class="content">
                <article id="recipient">
                    <img src="/images/luke-michael-27050-unsplash.jpg"
                        alt="" class="startPage-img">
                    <h2> За тези които се нуждаят</h2>
                    <p> За всички, които търсят кръводарители за себе си или за свои близки – поради регулярна нужда, поради предстояща операция, поради заболяване или инцидент. </p>
                    <input type="button" value=""><a href="/contact.html">Свържете се с нас </a>
                </article>
            </div>
        </div>
    </div>